.hero-card{
    width: 35%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgba(165, 42, 42, 0.582);
    background-color: rgba(165, 42, 42, 0.486);
    text-align: center;
}
.hero-img{
    width: 100%;
}