.hero-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   width: 500px;
   height: 200px;
    margin: auto;
    text-align: center;
    display: flex;
}
.hero-img{
    width: 100%;
   flex: 1;
}
.hero-name{
    color: grey;
    font-size: 18px;
   
}
.card-body{
flex: 4;
}