.hero-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: flex;
}
.hero-img{
    width: 100%;
    float: inline-start;
}
.hero-name{
    color: grey;
    font-size: 18px;
    float: inline-end;
}