.card-wrap{
    width: 200px;
    height: 600px;
    border: 2px solid black;
}
.tariff-name{
    height: 10%;
    border-bottom: rgb(27, 27, 27);
  
}
.price{
height: 20%;
}
.tariff-speed{
    height: 10%;
}
.card-footer{
    height: 10%;
}
.green {
    background-color: rgba(110, 208, 164, 0.684);
}
.red{
   background-color: rgb(243, 138, 110); 
}
.blue{
    background-color: rgb(100, 216, 237);
}
.black{
    background-color: rgb(27, 27, 27);
}