.card-wrap{
    width: 200px;
    height: 600px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}
.tariff-name{
    height: 10%;
    
  
}
.price{
height: 20%;
border-top:1px solid rgb(255, 255, 255);
color: white;
}
.tariff-speed{
    height: 10%;
    border-top:1px solid rgb(255, 255, 255);
    color: gray;
}
.card-footer{
    height: 10%;
    border-top:1px solid rgb(255, 255, 255);
    color: gray;
}
.green {
    background-color: rgba(110, 208, 164, 0.684);
}
.red{
   background-color: rgb(243, 138, 110); 
}
.blue{
    background-color: rgb(100, 216, 237);
}
.black{
    background-color: rgb(27, 27, 27);
}
.grey{
    background-color: rgba(229, 236, 242, 0.679);
}
.select {
    border: 5px solid rgba(148, 151, 151, 0.701);
    box-shadow: 0 0 30px 5px gray;
}