.card-wrap{
    width: 200px;
    height: 600px;
}
.tariff-name{
    height: 10%;
  
}
.price{
height: 20%;
}
.tariff-speed{
    height: 10%;
}
.card-footer{
    height: 10%;
}
.green {
    background-color: rgba(41, 128, 41, 0.684);
}
.red{
    
}